.decksGrid {
    display: flex;
    justify-items: center;
}
  
.deckDisplay{
    background-color: var(--white);
    color: var(--backgroundColor);
    margin: 2%;
    max-width: 10%;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
    border-style: groove;
    border-color: var(--primaryColor);
}

.displayBtn {
    border-radius: 0;
}