.decksGrid {
    display: flex;
    justify-items: center;
}
  
.deckDisplay{
    background-color: gray;
    color: beige;
    margin: 2%;
    max-width: 10%;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
    border-style: groove;
    border-color: black;
}

.displayBtn {
    border-radius: 0;
}