.cardContainer {
    display: flex;
    color:aliceblue;
}

.cardDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.cardDisplay {
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    border-style:hidden;
    padding: 1%;
    margin: 2%;
    min-width: 15vw;
}