.createCardFormContainer {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.formDiv {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--primaryColor);
    color: var(--myWhite);
    padding: 20px;
    width: 50%;
}

.createCardForm {
    display: contents;
}

.inputText {
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    border: 1px solid var(--backgroundColor);
    border-radius: 4px;
    box-sizing: border-box;
}

.submitCardBtn {
    width: 90%;
    align-self: center;
}

